.post_card{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    overflow: hidden;
}
.encabezado_post{
    display: flex;
    gap: 20px;
    background-color: white;
    color: #1E1E1E;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #2B4C68;
    border-top: 1px solid #2B4C68;
    justify-content: space-between;
    align-items: center;
}
.encabezado_iz{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 15px;
}

.encabezo_der{
    font-weight: 300;
    font-size: 10px;
}
.contenido_post{
    padding: 10px;

}


