.contenido_central{
    display: flex;
    gap: 0px;
    justify-content: space-between;
}
.contenido_posts{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.dashboard_encabezado{
    position: sticky;
    top: 0; 
    left: 0;
    z-index: 99999;
}
.bloque_botones{
    display:flex;
    gap:10px;
    margin-bottom:10px;
    justify-content: space-between;
    padding-left: 20px;
}
.btn_ordenar{
    cursor: pointer;
    border: 2px solid black;
    width: 15%;
    font-size: 14px;
    align-self: flex-end;
    border-radius: 10px;
}