.bloque_des{
    background-color: #C7E5FF;
    max-width: 1000px;
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 10px 10px 0px;
}
.sujetador_des{
    background-color: #94CDFF;
    border-radius: 0px 10px 10px 0px;
    width: 60px;
    align-self: stretch;
}