.bloque{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: #355C7D;
    height: 70px;
    color: #EEF2F5;
    position: sticky;
    top: 0;
    left: 0;
}
.sub_bloque{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
}