.buttons-section{
margin-top:20px;
display:flex;
flex-direction:column;
gap:10px;
}

.btn{
padding:10px;
border:none;
border-radius:30px;
cursor:pointer;
font-size:17px;
}

.primary{
background:var(--btn-primary);
color:white;
}

.secondary{
background:var(--btn-secondary);
color:white;
}

.danger{
background:var(--btn-danger);
color:white;
}