.bloque_des{
    background-color: #f5f5f5;
    max-width: 1000px;
    margin-top: 20px;   
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 10px 10px 0px;
    min-height: 6rem;
}
.sujetador_des{
    background-color: #2f3a3d;
    border-radius: 0px 10px 10px 0px;
    width: 60px;
    height: 80%;
}
.imagen_2plano{
    filter: brightness(0) invert(1);
}