
.contenido_central{
    display: flex;
    gap: 0px;
    justify-content: space-between;
    padding-top: 70px;
}
.contenido_categorias{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 65%;
    padding-bottom: 50px;
}
.dashboard_encabezado{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;    
}

@media (max-width: 768px) {
  .contenido_categorias {
    width: 95%;
  }
}